body{
    width: 95%;
    margin: 0 auto;
    background-color: #eaeff5;
}
.banner{
    margin-top: 62px;
}
h2{
    font-size: 36px;
}
.buttons-services{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr;
    grid-column-gap: 1fr;
    margin: 20px auto;
}
footer{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
}
.contacts{
    width: 100%;
}
iframe{
    width: 100%;
    height: 300px;
    margin: 20px auto;
}


